<div class="pull-right toggle-right-sidebar">
	<span class="fa title-open-right-sidebar tooltipstered fa-angle-double-right"></span>
	</div>
	
	<div id="right-sidebar" class="right-sidebar-notifcations nav-collapse">
	<div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">
	
		<div id="w3lDemoBar" class="w3l-demo-bar">
			<div class="demo-btns">
			<a routerLink="/home">
				<span class="w3l-icon -back">
					<span class="fa fa-arrow-left"></span>
				</span>
				<span class="w3l-text">Home</span>
			</a>
			<a href="https://w3layouts.com/?p=45250">
				<span class="w3l-icon -download">
					<span class="fa fa-download"></span>
				</span>
				<span class="w3l-text">Download</span>
			</a>
			<a href="https://w3layouts.com/checkout/?add-to-cart=45250" class="no-margin-bottom-mobile">
				<span class="w3l-icon -buy">
					<span class="fa fa-shopping-cart"></span>
				</span>
				<span class="w3l-text">Buy</span>
			</a>
		</div>
		</div>
		<div class="right-sidebar-panel-content animated fadeInRight" tabindex="5003"
			style="overflow: hidden; outline: none;">
		</div>
	</div>
	</div>
	
		<div class="main-bg">
			<!-- title -->
			<h1>Connexion</h1>
			<!-- //title -->
	<!---728x90--->
			<div class="sub-main-w3">
				<div class="image-style">
				</div>
				<!-- vertical tabs -->
				<div class="vertical-tab">
					<div id="section1" class="section-w3ls">
						<input type="radio" name="sections" id="option1" checked>
						<label for="option1" class="icon-left-w3pvt"><span class="fa fa-user-circle" aria-hidden="true"></span>Login</label>
						<article>
							<form action="#" method="post">
								<img src="/assets/images/logonetuse.png" alt="">

								<h3 class="legend">Login Here</h3>
								<div class="input">
									<span class="fa fa-envelope-o" aria-hidden="true"></span>
									<input type="email" placeholder="Email" name="email" required />
								</div>
								<div class="input">
									<span class="fa fa-key" aria-hidden="true"></span>
									<input type="password" placeholder="Password" name="password" required />
								</div>
								<button type="submit" class="btn submit">Login</button>
								<a href="#" class="bottom-text-w3ls">Forgot Password?</a>
							</form>
						</article>
					</div>
					<div id="section2" class="section-w3ls">
						<input type="radio" name="sections" id="option2">
						<label for="option2" class="icon-left-w3pvt"><span class="fa fa-pencil-square" aria-hidden="true"></span>Register</label>
						<article>
							<form action="#" method="post">
								<h3 class="legend">Register Here</h3>
								<div class="input">
									<span class="fa fa-user-o" aria-hidden="true"></span>
									<input type="text" placeholder="Username" name="name" required />
								</div>
								<div class="input">
									<span class="fa fa-key" aria-hidden="true"></span>
									<input type="password" placeholder="Password" name="password" required />
								</div>
								<div class="input">
									<span class="fa fa-key" aria-hidden="true"></span>
									<input type="password" placeholder="Confirm Password" name="password" required />
								</div>
								<button type="submit" class="btn submit">Register</button>
							</form>
						</article>
					</div>
					<div id="section3" class="section-w3ls">
						<input type="radio" name="sections" id="option3">
						<!-- <label for="option3" class="icon-left-w3pvt"><span class="fa fa-lock" aria-hidden="true"></span>Forgot Password?</label> -->
					<!-- 	<article>
							<form action="#" method="post">
								<h3 class="legend last">Reset Password</h3>
								<p class="para-style">Enter your email address below and we'll send you an email with instructions.</p>
								<p class="para-style-2"><strong>Need Help?</strong> Learn more about how to <a href="#">retrieve an existing
										account.</a></p>
								<div class="input">
									<span class="fa fa-envelope-o" aria-hidden="true"></span>
									<input type="email" placeholder="Email" name="email" required />
								</div>
								<button type="submit" class="btn submit last-btn">Reset</button>
							</form>
						</article> -->
					</div>
				</div>
				<!-- //vertical tabs -->
				<div class="clear"></div>
			</div>
	<!---728x90--->
			<!-- copyright -->
			<div class="copyright">
				<h2>&copy; 2019 Triple Forms. All rights reserved | Design by
					<a href="http://w3layouts.com/" target="_blank">W3layouts</a>
				</h2>
			</div>
			<!-- //copyright -->
	<!---728x90--->
		</div>
	