<h2>Liste des <b> Tickets</b></h2>
<table class="styled-table" *ngIf="pageTickets">
  <thead>
      <tr>
        <th>#</th>
        <th>nom</th>
        <th>prenom</th>
        <th>nomSociete</th>
        <th>email</th>
        <th>date</th>
        <th>status</th>
        <th>type</th>
        <th>commentaire</th>
        <th>priorite</th>
        <th>tel</th>
        <th>Action</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of pageTickets ;let i = index" class="active-row">
      <td>{{i+1}}</td>
      <td>{{c.nom}}</td>
      <td>{{c.prenom}}</td>
      <td>{{c.nomSociete}}</td>
      <td>{{c.email}}</td>
      <td>{{c.date}}</td>
      <td>{{c.status }}</td>
      <td>{{c.type}}</td>
      <td>{{c.commentaire}}</td>
      <td>{{c.priorite}}</td>
      <td>{{c.tel}}</td>
      <td scope="col">
        <a  class="view" title="Accepter" data-toggle="tooltip"*ngIf="c.accepted===false" (click)="onAceptTickets(c)"><i class="material-icons">&#xe834;</i></a>
        <a  class="edit" title="Edit" data-toggle="tooltip" data-toggle="modal" data-target="#exampleModal" (click)="onEditTicket(c.id)"><i class="material-icons">&#xE254;</i></a>
      </td>
   <tr>
     <td colspan="12" style="text-align: center;" *ngIf="pageTickets.length===0"><b>Aucun ticket</b></td>
   </tr>                                 
  </tbody>
</table>
<!-- Modifier ticket -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
 
      <div class="modal-body"  *ngIf="currentTicket">
        <form #f="ngForm" (ngSubmit)="onUpdateTicket(f.value
        )">
          <div class="form-group">
              <label class="control-label">Nom:</label>
              <input  [(ngModel)]="currentTicket.nom" #nom="ngModel" class="form-control" type="text"  ngModel name="nom"  required>
          </div>
          <div class="form-group">
              <label class="control-label">Prenom:</label>
              <input  [(ngModel)]="currentTicket.prenom" #prenom="ngModel" class="form-control" type="text"  ngModel name="prenom" required>
          </div>
          <div div class="form-group">
              <label class="control-label">Nom Societe:</label>
              <select  [(ngModel)]="currentTicket.nomSociete" #nomSociete="ngModel" class="form-control" ngModel name="nomSociete" required >
                  <option>Netuse</option>
                  <option>HouseInfo</option>
                  <option>ULT</option>
                  <option>OMPV</option>
                  <option>BIAT</option>
                  <option>TELECOM</option>
                  </select>
           </div>
          <div class="form-group">
              <label class="control-label">Email:</label>
              <input [(ngModel)]="currentTicket.email" #email="ngModel" class="form-control" type="email"  ngModel name="email" required >
          </div>
          <div class="form-group">
              <label class="control-label">Date:</label>
              <input [(ngModel)]="currentTicket.date" #date="ngModel"class="form-control" type="date"  ngModel name="date" required >
          </div>
          <div class="form-group">
              <label class="control-labes">Statuts:</label>
              <select [(ngModel)]="currentTicket.status" #status="ngModel" class="form-control" ngModel name="status" required >
                <option>En cours</option>
                <option>Validé</option>
                <option>Terminé</option>
              </select>
            </div>
          <div class="form-group">
              <label class="control-label">Type:</label>
              <select [(ngModel)]="currentTicket.type" #type="ngModel" class="form-control" ngModel name="type" required >
                <option>Software</option>
                <option>Hardware</option>
              </select>
              </div>
          <div class="form-group">
              <label class="control-label">Commentaire:</label>
              <textarea [(ngModel)]="currentTicket.commentaire" #commentaire="ngModel" class="form-control" cols="30" rows="10" ngModel name="commentaire" required>
              </textarea>
          </div>
          <div class="form-group">
              <label class="control-label">Priorite:</label>
              <select  [(ngModel)]="currentTicket.priorite" #priorite="ngModel" class="form-control" ngModel name="priorite" required >
                  <option>Normale</option>
                   <option>Moyenne</option>
                   <option>Faible</option>
                  </select>
          </div>

          <div class="form-group">
              <label class="control-label">Tel:</label>
              <input [(ngModel)]="currentTicket.tel" #tel="ngModel" class="form-control" type="text"  ngModel name="tel" required>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
      </form>
      </div>
    </div>
  </div>
</div>
<style>
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #063ed8;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #070a0a;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #060e0c;
}
</style>
