<div id="main-wrapper">
    <!-- Header -->
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href="index.html">
                    <!-- Logo icon -->
                    <b class="logo-icon p-l-10">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="/assets/images/net.png" alt="homepage" class="light-logo" />

                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                        <!-- dark Logo text -->
                        <img src="assets/images/netusee.png" alt="homepage" class="light-logo" />

                    </span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light"
                            href="javascript:void(0)" data-sidebartype="mini-sidebar"><i
                                class="mdi mdi-menu font-24"></i></a></li>
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <li class="nav-item search-box">
                        <!-- <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a> -->
                        <form class="app-search position-absolute">
                            <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                                class="srh-btn"><i class="ti-close"></i></a>
                        </form>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-right">
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Notification -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- End Notification -->
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                src="assets/images/users/l.png" alt="user" class="rounded-circle" width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" routerLink="profil-technicien"><i class="ti-user m-r-5 m-l-5"></i>
                                My Profile</a>
                            <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a> -->
                            <div class="dropdown-divider"></div>
                            <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a> -->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="logout()"><i class="fa fa-power-off m-r-5 m-l-5"></i>
                                Deconnexion</a>
                            <div class="dropdown-divider"></div>
                            <!-- <div class="p-l-30 p-10"><a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View Profile</a></div> -->
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- End Header -->
    <!-- aside -->
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/home" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Netuse</span></a></li> -->
                    <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"   aria-expanded="false"routerLink="profil-technicien"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Gestion de compte</span></a></li>
 -->
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            aria-expanded="false" routerLink="tickets"><i class="mdi mdi-file-document"></i><span
                                class="hide-menu">Tickets</span></a></li>
                    <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"  aria-expanded="false"routerLink="priorite"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Priorites </span></a></li>
 -->
                    <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"  aria-expanded="false" routerLink="suivi"><i class="mdi mdi-clipboard-text"></i><span class="hide-menu">Suivi</span></a></li> -->
                    <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"  aria-expanded="false" ><i class="mdi mdi-bell font-24"></i><span class="hide-menu">Notification</span></a></li>
 -->
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            aria-expanded="false" routerLink="profil-technicien"><i class="mdi mdi-account"></i><span
                                class="hide-menu">Profil </span></a></li>

                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            aria-expanded="false" routerLink="/login"> <i class="mdi mdi-account-key"></i><span
                                class="hide-menu">Authentification </span></a></li>

                    <!-- <li class="sidebar-item">
<a class="sidebar-link has-arrow waves-effect waves-dark" href="#"  aria-expanded="false"><i class="mdi mdi-account-key"></i>
    <span class="hide-menu">Authentication </span></a>
<ul aria-expanded="false" class="collapse  first-level">
<li class="sidebar-item"><a routerLink="login" class="sidebar-link"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Login </span></a></li>
<li class="sidebar-item"><a routerLink="register" class="sidebar-link"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Register </span></a></li>
</ul>
</li> -->
                    <!-- <li  class="sidebar-item">
    <a class="sidebar-link has-arrow waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="mdi mdi-account-key"></i>
         <span class="hide-menu">Authentication </span></a>
    <div class="dropdown-menu dropdown-menu-right user-dd animated">
        <a class="dropdown-item" routerLink="/login"><i class="ti-user m-r-5 m-l-5"></i> Login</a>
        <div class="dropdown-divider"></div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/register"><i  class="ti-user m-r-5 m-l-5"></i> Register</a>
        <div class="dropdown-divider"></div>
    </div>
</li> -->
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- End aside -->

    <!--  Page wrapper  -->
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Dashboard</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-md-flex align-items-center">
                                <div class="row">
                                    <router-outlet></router-outlet>
                                    <!-- column -->
                                    <div class="col-lg-9">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-line-chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="card">
                        </div>
                    </div>
                    <!-- footer -->
                    <footer class="footer text-center">
                    </footer>
                    <!-- End footer -->
                </div>
                <!-- End Page wrapper  -->
            </div>